<div class="row arrow-left">
  <button class="btn btn-info waves-effect waves-light" (click)="goBack()"><span class="btn-label"><i class="fa fa-arrow-left"></i></span>Volver</button>
</div>
<div class="row">   
  <div class="col-lg-12">
    <div class="card">               
        <div class="card-body shadow">
            <div class="d-flex">                 
                <div class="pull-right">
                    <!-- <button class="btn btn-info waves-effect waves-light" type="button"><span class="btn-label"><i class="fa fa-plus"></i></span>Agregar</button> -->
                </div>                                  
            </div>                       
            <div class="stats-bar">   
                <div class="row">
                    <div class="col-lg-4 offset-1  ">
                           
                      <!-- not_info.png -->
                        <div class="container"  [@visibility]="statusImage">
                            <img class="image" src="assets/images/not-available.png" alt="no-info" *ngIf="!item.imagen_url"> 
                            <img class="image" [src]="item.imagen_url" alt="{{item.nombre_plan}}" *ngIf="item.imagen_url"> 
                            <div class="middle">
                                <div class="upload-btn-wrapper">
                                        <button type="button" class="btn btn-info btn-circle btn-xl"><i class="fa fa-upload"></i></button>
                                    <input type="file" name="myfile" (change)="uploadFile($event)" required/>
                                </div>  
                            </div>                             
                        </div>
                        <div  [@visibility]="statusTitle">
                            <h5 class="text-danger">*Debes ingresar el nombre del plan para poder habilitar la subida de imagen</h5>
                        </div>
                        <progress-bar [progress]="uploadPercent | async" [color-degraded]="{'0': '#0091F0',  '15': '#0091F0', '25': '#0091F0', '95': '#00B01D'}"></progress-bar>
                       
                    </div>  
                    <div class="col-lg-6">
                        <form class="form-material m-t-40"  (ngSubmit)="onSubmit()" #myForm="ngForm" >
                                <div class="row text-center">
                                    <div class="col-sm-10">
                                        <div class="p-9">                                                               
                                            <div class="form-group content-form">                                                 
                                                <label class="label-title" for="nombre_plan">Nombre:</label>                            
                                                <input type="text" id="nombre_plan" class="form-control" placeholder="Diamante Gold" [(ngModel)]="item.nombre_plan" #nombre_plan="ngModel" name="nombre_plan"  required/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-10">
                                        <div class="p-9">                                                               
                                            <div class="form-group content-form">                                                 
                                                <label class="label-title" for="nombre_plan">Mensajes:</label>                            
                                                <input type="text" id="nombre_plan" class="form-control" placeholder="2 Mensajes"  [(ngModel)]="item.cantidad_mensaje" #cantidad_mensaje="ngModel" name="cantidad_mensaje" required  mask="0" sufix=" Mensajes">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-10">
                                        <div class="p-9">                                                               
                                            <div class="form-group content-form">                                                 
                                                <label class="label-title" for="nombre_plan">Números:</label>                            
                                                <input type="text" id="nombre_plan" class="form-control" placeholder="2 Números"  [(ngModel)]="item.cantidad_numero" #cantidad_numero="ngModel" name="cantidad_numero" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-10">
                                        <div class="p-9">                                                               
                                            <div class="form-group content-form">                                                 
                                                <label class="label-title" for="nombre_plan">Loterias:</label>                            
                                                <input type="text" id="nombre_plan" class="form-control" placeholder="1 Lotería"  [(ngModel)]="item.loterias" #loterias="ngModel" name="loterias" required mask="0" sufix=" Lotería">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-10">
                                        <div class="p-9">                                                               
                                            <div class="form-group content-form">                                                 
                                                <label class="label-title" for="nombre_plan">Duración:</label>                            
                                                <input type="text" id="nombre_plan" class="form-control" placeholder="15 días"  [(ngModel)]="item.duracion" #duracion="ngModel" name="duracion" required mask="00" sufix=" días">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-10">
                                        <div class="p-9">                                                               
                                            <div class="form-group content-form">                                                 
                                                <label class="label-title" for="nombre_plan">Precio:</label>                            
                                                <input type="text" id="nombre_plan" class="form-control" placeholder="RD$5,000.00"  [(ngModel)]="item.precio" #precio="ngModel" name="precio" required currencyMask  [options]="{ align: 'left',  prefix: 'RD$ ', thousands: ',', decimal: '.'}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-10">
                                        <div class="p-9">                                                               
                                            <div class="form-group content-form">                                                 
                                                <label class="label-title" for="nombre_plan">Efectividad:</label>                            
                                                <textarea class="form-control" [(ngModel)]='item.efectividad' placeholder="La Efectividad es..."  [(ngModel)]="item.efectividad" rows="5" cols="120"  #efectividad="ngModel" name="efectividad" >                             
                                                </textarea>
                                            </div>
                                        </div>
                                    </div>                            
                                    <div class="col-sm-10 offset-1">
                                        <label class="label-title-s" for="nombre_plan">Días de Entregas:</label>  
                                            <div class="row">
                                                <div class="col-sm-4" *ngFor="let item of day; let i=index">   
                                                    <div class="form-group content-form">                                                                 
                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input" id="checkbox-{{i}}"  [(ngModel)]="item.checked" name="dias" required> 
                                                                <label class="custom-control-label" for="checkbox-{{i}}">{{item.dia}}</label>
                                                            </div>                                                                       
                                                     </div>                                             
                                             </div>      
                                        </div>                                
                                    </div>                                        
                                </div>
                            <button class="btn btn-block btn-info" type="submit" [disabled]="!myForm.form.valid || !item.imagen_url" >Crear Nuevo Plan</button>
                        </form>
                    </div>           
                </div>
            </div>
        </div>   
    </div>  
  </div>
</div>   





