<div class="row arrow-left">
        <button class="btn btn-info waves-effect waves-light" (click)="goBack()"><span class="btn-label"><i class="fa fa-arrow-left"></i></span>Volver</button>
</div>
<div class="row" *ngIf="item">   
    <div class="col-lg-12">
        <div class="card">               
            <div class="card-body shadow">
                <div class="d-flex">                 
                    <div class="pull-right">
                        <!-- <button class="btn btn-info waves-effect waves-light" type="button"><span class="btn-label"><i class="fa fa-plus"></i></span>Agregar</button> -->
                    </div>                                  
                </div>                       
                <div class="stats-bar">   
                    <div class="row">
                        <div class="col-lg-4 offset-1  ">
                            <div class="container">
                                <img class="image" [src]="item.imagen_url" alt="{{item.nombre_plan}}"> 
                                <div class="middle">
                                    <div class="upload-btn-wrapper">
                                            <button type="button" class="btn btn-info btn-circle btn-xl"><i class="fa fa-upload"></i></button>
                                        <input type="file" name="myfile" (change)="uploadFile($event)"/>
                                    </div>  
                                </div>                             
                            </div>
                            <progress-bar [progress]="uploadPercent | async" [color-degraded]="{'0': '#0091F0',  '15': '#0091F0', '25': '#0091F0', '95': '#00B01D'}"></progress-bar>
                        
                        </div>  
                        <div class="col-lg-6">
                            <form class="form-material m-t-40"  #formItem="ngForm" >
                                    <div class="row text-center">
                                        <div class="col-sm-10">
                                            <div class="p-9">                                                               
                                                <div class="form-group content-form">                                                 
                                                    <label class="label-title" for="nombre_plan">Nombre:</label>                            
                                                    <input type="text" id="nombre_plan" class="form-control"  [(ngModel)]="item.nombre_plan" #nombre_plan="ngModel" name="nombre_plan">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-10">
                                            <div class="p-9">                                                               
                                                <div class="form-group content-form">                                                 
                                                    <label class="label-title" for="nombre_plan">Mensajes:</label>                            
                                                    <input type="text" id="nombre_plan" class="form-control"  [(ngModel)]="item.cantidad_mensaje" #nombre_plan="ngModel" name="cantidad_mensaje">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-10">
                                            <div class="p-9">                                                               
                                                <div class="form-group content-form">                                                 
                                                    <label class="label-title" for="nombre_plan">Números:</label>                            
                                                    <input type="text" id="nombre_plan" class="form-control"  [(ngModel)]="item.cantidad_numero" #nombre_plan="ngModel" name="cantidad_numero">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-10">
                                            <div class="p-9">                                                               
                                                <div class="form-group content-form">                                                 
                                                    <label class="label-title" for="nombre_plan">Loterias:</label>                            
                                                    <input type="text" id="nombre_plan" class="form-control"  [(ngModel)]="item.loterias" #nombre_plan="ngModel" name="loterias">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-10">
                                            <div class="p-9">                                                               
                                                <div class="form-group content-form">                                                 
                                                    <label class="label-title" for="nombre_plan">Duración:</label>                            
                                                    <input type="text" id="nombre_plan" class="form-control"  [(ngModel)]="item.duracion" #nombre_plan="ngModel" name="duracion">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-10">
                                            <div class="p-9">                                                               
                                                <div class="form-group content-form">                                                 
                                                    <label class="label-title" for="nombre_plan">Precio:</label>                            
                                                    <input type="text" id="nombre_plan" class="form-control"  [(ngModel)]="item.precio" #nombre_plan="ngModel" name="precio">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-10">
                                            <div class="p-9">                                                               
                                                <div class="form-group content-form">                                                 
                                                    <label class="label-title" for="nombre_plan">Efectividad:</label>                            
                                                    <textarea class="form-control" [(ngModel)]='item.efectividad' rows="5" cols="120"  #efectividad="ngModel" name="efectividad">                             
                                                    </textarea>
                                                </div>
                                            </div>
                                        </div>                            
                                        <div class="col-sm-10 offset-1">
                                            <label class="label-title-s" for="nombre_plan">Días de Entregas:</label>  
                                                <div class="row">
                                                    <div class="col-sm-4" *ngFor="let item of day; let i=index">   
                                                        <div class="form-group content-form">                                                                 
                                                                <div class="custom-control custom-checkbox">
                                                                    <input type="checkbox" class="custom-control-input" id="checkbox-{{i}}"  [(ngModel)]="item.checked" [ngModelOptions]="{standalone: true}"> 
                                                                    <label class="custom-control-label" for="checkbox-{{i}}">{{item.dia}}</label>
                                                                </div>                                                                       
                                                            </div>                                             
                                                     </div>      
                                                </div>                                
                                         </div>                                        
                                    </div>
                                <button class="btn btn-block btn-info" (click)="onSubmit()">Actualizar</button>
                            </form>
                        </div>
                     </div>
                </div>
            </div>   
         </div>  
    </div>
</div>   





