<div class="row">
    <div class="col-lg-12">
        <div class="card bg-info text-white">
            <div class="card-body">
                <div class="d-flex">
                    <div class="stats">
                        <h1 class="text-white">3257+</h1>
                        <h6 class="text-white">Clientes Suscriptos</h6>
                        <button class="btn btn-rounded btn-outline btn-light m-t-10 font-14">Check list</button>
                    </div>
                    <div class="stats-icon text-right ml-auto"><i class="fa fa-user display-5 op-3 text-dark"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card bg-danger text-white">
            <div class="card-body">
                <div class="d-flex">
                    <div class="stats">
                        <h1 class="text-white">6509+</h1>
                        <h6 class="text-white">Suscritores de YouTube</h6>
                        <button class="btn btn-rounded btn-outline btn-light m-t-10 font-14">Check list</button>
                    </div>
                    <div class="stats-icon text-right ml-auto"><i class="fa fa-youtube display-5 op-3 text-dark"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="card bg-success text-white">
            <div class="card-body">
                <div class="d-flex">
                    <div class="stats">
                        <h1 class="text-white">9062+</h1>
                        <h6 class="text-white">Mensajes Enviados</h6>
                        <button class="btn btn-rounded btn-outline btn-light m-t-10 font-14">Check list</button>
                    </div>
                    <div class="stats-icon text-right ml-auto"><i class="fa fa-envelope display-5 op-3 text-dark"></i></div>
                </div>
            </div>
        </div>
    </div>
</div>