<div class="row arrow-left">
  <button class="btn btn-info waves-effect waves-light" (click)="goBack()"><span class="btn-label"><i class="fa fa-arrow-left"></i></span>Volver</button>
</div>
<div class="row">   
  <div class="col-lg-12">
    <div class="card">               
        <div class="card-body shadow">
            <div class="d-flex">                 
                <div class="pull-right">
                    <!-- <button class="btn btn-info waves-effect waves-light" type="button"><span class="btn-label"><i class="fa fa-plus"></i></span>Agregar</button> -->
                </div>                                  
            </div>                       
            <div class="stats-bar">   
                <div class="row">
                    <div class="col-lg-4 offset-1  ">
                           
                      <!-- not_info.png -->
                        <div class="container" [@visibility]="statusImage">
                            <img class="image" src="assets/images/not-available.png" alt="no-info" *ngIf="!item.image_url"> 
                            <img class="image" [src]="item.image_url" alt="{{item.nombre_evento}}" *ngIf="item.image_url"> 
                            <div class="middle">
                                <div class="upload-btn-wrapper">
                                        <button type="button" class="btn btn-info btn-circle btn-xl"><i class="fa fa-upload"></i></button>
                                    <input type="file" name="myfile" (change)="uploadFile($event)" required/>
                                </div>  
                            </div>                             
                        </div>
                        <div  [@visibility]="statusTitle">
                            <h5 class="text-danger">*Debes ingresar el nombre del evento para poder habilitar la subida de imagen</h5>
                        </div>
                        <progress-bar [progress]="uploadPercent | async" [color-degraded]="{'0': '#0091F0',  '15': '#0091F0', '25': '#0091F0', '95': '#00B01D'}"></progress-bar>
                       
                    </div>  
                    <div class="col-lg-6">
                        <form class="form-material m-t-40"  (ngSubmit)="onSubmit()" #myForm="ngForm" >
                                <div class="row text-center">
                                    <div class="col-sm-10">
                                        <div class="p-9">                                                               
                                            <div class="form-group content-form">                                                 
                                                <label class="label-title" for="nombre_evento">Nombre:</label>                            
                                                <input type="text" id="nombre_evento" class="form-control" placeholder="Diamante Gold Evento" [(ngModel)]="item.nombre_evento" #nombre_evento="ngModel" name="nombre_evento"  required/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-10">
                                        <div class="p-9">                                                               
                                            <div class="form-group content-form">                                                 
                                                <label class="label-title" for="fecha_evento">Fecha:</label>                            
                                                <input type="date" id="fecha_evento" class="form-control" placeholder="12 Dic"  data-date-format="DD MMMM YYYY" [(ngModel)]="item.fecha_evento" #fecha_evento="ngModel" name="fecha_evento" required  >
                                            </div>
                                        </div>


                                    </div>
                                    <div class="col-sm-10">
                                        <div class="p-9">                                                               
                                            <div class="form-group content-form">                                                 
                                                <label class="label-title" for="lugar_evento">Lugar:</label>                            
                                                <input type="text" id="lugar_evento" class="form-control" placeholder="Árena del Cibao"  [(ngModel)]="item.lugar" #lugar_evento="ngModel" name="lugar_evento" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-10">
                                        <div class="p-9">                                                               
                                            <div class="form-group content-form">                                                 
                                                <label class="label-title" for="ciudad_evento">Ciudad:</label>                            
                                                <input type="text" id="ciudad_evento" class="form-control" placeholder="Santiago"  [(ngModel)]="item.ciudad" #ciudad_evento="ngModel" name="ciudad_evento" required >
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-10">
                                        <div class="p-9">                                                               
                                            <div class="form-group content-form">                                                 
                                                <label class="label-title" for="hora_evento">Hora:</label>                            
                                                <input type="text" id="hora_evento" class="form-control" placeholder="9am - 12pm"  [(ngModel)]="item.hora" #hora_evento="ngModel" name="hora_evento" required >
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-10">
                                        <div class="p-9">                                                               
                                            <div class="form-group content-form">                                                 
                                                <label class="label-title" for="precio_evento">Precio:</label>                            
                                                <input type="text" id="precio_evento" class="form-control" placeholder="RD$5,000.00"  [(ngModel)]="item.precio" #precio_evento="ngModel" name="precio_evento" required currencyMask  [options]="{ align: 'left',  prefix: 'RD$ ', thousands: ',', decimal: '.'}">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-10">
                                        <div class="p-9">                                                               
                                            <div class="form-group content-form">                                                 
                                                <label class="label-title" for="descripcion_evento">Descripción:</label>                            
                                                <textarea class="form-control"  placeholder="La descripción del evento..."  [(ngModel)]="item.descripcion" rows="5" cols="120"  #descripcion_evento="ngModel" name="descripcion_evento" >                             
                                                </textarea>
                                            </div>
                                        </div>
                                    </div> 
                                </div>
                            <button class="btn btn-block btn-info" type="submit" [disabled]="!myForm.form.valid || !item.image_url" >Crear Nuevo Evento</button>
                        </form>
                    </div>           
                </div>
            </div>
        </div>   
    </div>  
  </div>
</div>   





