<mat-card class="card-lottery">
  <mat-card-header>
    <div mat-card-avatar class="header-image">
      <img mat-card-image [src]="lotteryNormal.image" [alt]="lotteryNormal.nombre">
    </div>
    <mat-card-title>{{lotteryNormal.nombre}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="ball-lottery">
      <app-ball-lottery
        [color]="getDiff(lotteryNormal.publicacion)"
        [number]="lotteryNormal.primera">
      </app-ball-lottery>
      <app-ball-lottery
        [color]="getDiff(lotteryNormal.publicacion)"
        [number]="lotteryNormal.segunda">
      </app-ball-lottery>
      <app-ball-lottery
        [color]="getDiff(lotteryNormal.publicacion)"
        [number]="lotteryNormal.tercera">
      </app-ball-lottery>
    </div>
  </mat-card-content>
  <mat-card-actions class="container-accordion">
    <div class="publication-date">
      <p
        [ngStyle]="{'background-color': getDiff(lotteryNormal.publicacion)}">{{getPushishedDate(lotteryNormal.publicacion) }}</p>
    </div>
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-description>
            Al revés | Inverso | Jala jala
          </mat-panel-description>
        </mat-expansion-panel-header>
        <app-table-ball-lottery [number]="lotteryNormal.primera"></app-table-ball-lottery>
        <app-table-ball-lottery [number]="lotteryNormal.segunda"></app-table-ball-lottery>
        <app-table-ball-lottery [number]="lotteryNormal.tercera"></app-table-ball-lottery>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card-actions>
</mat-card>
