



<div class="row ">
    <div class="col-xs-12 col-md-8" >     
        <div class="card" >
            <div class="card-body shadow">
                <div class="d-flex">
                    <div class="">
                        <h3 class="card-title m-b-10 text-center">
                            <span class="lstick"></span>Envio de notificaciones
                        </h3>                                    
                    </div>                             
                </div>    

   
                <form class="form-material form-alerta"  #formItem="ngForm" *ngIf="push">
                    <div class="row">
                        <div class="stats-bar">                          
                            <div class="stats-bar-item ">
                                <h6 class="m-b-0">Título</h6>                     
                                <div class="form-group">                    
                                    <input type="text" class="form-control input-title" [(ngModel)]="push.title"  name="titulo" #titulo="ngModel" >
                                </div>                             
                            </div>
                        
                            <div class="stats-bar-item ">
                                <h6 class="m-b-0">Cuerpo de Mensaje</h6>                                
                                <div class="form-group">                              
                                    <textarea maxlength="150" type="text" class="form-control " [(ngModel)]="push.body"  name="body" #body="ngModel" ></textarea>
                                    <span class="form-help">{{150-push.body.length}}</span>
                                </div>                        
                            </div>
                        
                        </div>
                    </div>
                    <button class="btn btn-block btn-info" (click)="onSubmit()">Enviar Notificación</button>
                </form> 
    
                 
            </div>
        </div>
    </div>
</div>



<!-- <div class="row">
    <div class="col">
        <div class="card" >
            <div class="card-body shadow">
                <div class="d-flex">
                    <div class="">
                        <h3 class="card-title m-b-10 text-center">
                            <span class="lstick"></span>Anuncios Estáticos
                        </h3>                                    
                    </div>                             
                </div>    
                <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
                    <div class="example-box" *ngFor="let anuncio of anuncios | async " cdkDrag>
                        <img class="img-responsive" [src]="anuncio.url" [alt]="anuncio.key">

                    </div>
                </div>                        
           
            </div>
        </div>          
    </div>
</div> -->


     <!-- No funciona -->
                <!-- <div cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)">
                        <div class="example-box" *ngFor="let timePeriod of timePeriods" cdkDrag>{{timePeriod}}</div>
                      </div> -->